.clearfix {
    overflow: auto;
}
.login-container {
  margin: 5% 0;
  border: 1px solid #CCD1D1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 50%;
}
.center {
    text-align: center;
}
.center.title {
    margin: 1rem;
}